# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.suo
*.dylib
*.aps

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.opensdf
*.sdf
*debug/
*release/
*ipch/
/TCad/TCad.VC.VC.opendb
/TCad/TCad.VC.db
